<!DOCTYPE html>
<html>
  <head>
    <title>EmailReader</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://use.fontawesome.com/650dba26c3.js"></script>
    <%= stylesheet_pack_tag 'email_reader' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'email_reader', 'data-turbolinks-track': 'reload' %>

    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
